@import url("/base.css");

* {
    padding: 0;
}

.collapsible .caret { cursor: pointer; }

.content {
    display: none;
    overflow: hidden;

    background-color: var(--c-accent);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);

    margin-top: -1em;
    margin-left: 1em;
    margin-right: 1em;

    a, p {
        display: block;
        text-align: center;

        padding: 2em 0em;

        color: var(--c-text);
        font-weight: 500;
    }

    a { font-weight: 500; }

    a:hover { background-color: var(--c-accent-hover); }
}

.section {
    display: -ms-grid;
    display: grid;
    grid-gap: 16px;
}

.links ul li:hover:not(:has(*:hover)) {
    background-color: var(--c-primary-hover);
}

.links ul li:has(a:hover) {
    background-color: var(--c-primary-hover);
}

.links ul li {
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;

    margin-top: 1em;
    margin-bottom:1em;

    border-radius: 15px;

    background-color: var(--c-primary);

    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .2);

    img {
        border-radius: 12px;
        width: 48px;
        height: 48px;
        margin-left: 1em;

        flex-shrink: 0;
        box-sizing: border-box;
    }

    a {
        flex-grow: 4;
        color: var(--c-primary-light);
        font-weight: 500;
        text-align: center;

        padding: 2em 0em;
    }

    .caret {
        /* Remove button styles */
        background: none;
        border: none;
        visibility: hidden;

        width: 64px;
        height: 64px;

        flex-shrink: 0;
        box-sizing: border-box;

        color: var(--c-primary-light);

        text-align: center;
    }

    .caret:hover {
        background-color: var(--c-primary-hover);
    }
}

a:link,
a:hover,
a:active,
a:visited { text-decoration: none; }
